head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block title
    title Vue example project
  link(rel="icon", href="assets/images/logo.png", type="image/png")
  link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
  link(rel="stylesheet", href="//fonts.googleapis.com/icon?family=Material+Icons")